@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;

	src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;

	src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
	height: 100%;
}

body {	
	margin: 0;
	min-width: 1280;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT-Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: -0.8px;

	background: #f2f2f2;
	color: #000000;
}

img {
	max-width: 100%;
	object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
	flex-grow: 1;
}

.button {
	padding: 8px;
	align-items: center;
	text-transform: uppercase;
	border-radius: 4px;

	background-color: #756157;
	color: #ffffff;
}

.button:hover {
	background-color: #615048;
}


.button-blue:hover {
	background-color: #68a2ca;
}

.button:active {
	background-color: #756157;
}

.button-blue:active {
	background-color: #82b3d3;
}

.button:focus,
.button-blue:focus,
.button-green:focus {
	outline: 3px solid #83b3d3;
}

.button:disabled {
	background: #e5e5e5;
	color: #ffffff;
}
/* pages */

.container {
	margin: 0 auto;
	width: 1200px;
	background: #ffffff;
}

.header-flex-container {
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;	
}

.navigation-list {
	margin: 0;
	margin-left: 238px;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	width: 450px;
	align-items: center;
	list-style: none;
}

.header-logo-link {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 140px;
	margin-left: 70px;
}

.navigation-user {
	margin-left: auto;
	max-width: 500px;
	justify-content: flex-end;
}

.navigation-link {
	padding: 17px 13px;
	border: 3px solid transparent;
	display: block;
	flex-wrap: wrap;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;

	color: #000000;
}

.navigation-link:hover {
	background-color: #615048;
}

.navigation-link:focus {
	border: 3px solid #83b3d3;
	border-radius: 4px;
	outline: none;
}

.navigation-link:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.navigation-user .navigation-item {

	min-width: 44px;
	min-height: 22px;
}

.navigation-item .button {
	padding: 8px 34px;
	text-transform: uppercase;

	color: #ffffff;
}

.counter-item {
	position: relative;
}

.counter-wrapper {
	position: absolute;
	left: 20px;
	top: -2px;
	width: 20px;
	height: 20px;
	background-color: #7db54f;
	border-radius: 10px;
}

.counter {
	position: absolute;
	top: 5px;
	left: 4px;
	font-size: 10px;
	line-height: 10px;
	font-weight: 400;
	text-align: center;
	color: #ffffff;
}

.navigation-button {
	border: none;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}

.navigation-button:active {
	color: rgba(255, 255, 255, 0.3);
}

.navigation-item .navigation-button:focus {
	border: none;
	outline: 3px solid #83b3d3;
}

.navigation-user .navigation-item:nth-child(3) {
	margin-left: 20px;
	margin-right: 5px;
} 

.navigation-link-current {
	position: relative;
}

.navigation-link-current::after {
	position: absolute;
	content: "";
	height: 2px;
	right: 13px;
	left: 13px;
	bottom: -3px;
	background-color: #756257;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
	background-image: url("../images/vector/search.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
	background-image: url("../images/vector/heart.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.hero {
	position: relative;
	background-image: url("../images/hero-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: 51px;
	padding-bottom: 81px;

	background-color: #000000;
	color: #ffffff;
}

.hero-text-image {
	margin: 0 auto;
	display: block;
}

.hero::after {
	position: absolute;
	content: "";
	bottom: 0;
	width: 1200px;
	height: 57px;
	background-image: url("../images/vector/hero-decorative-image.svg");
	background-position: center;
	background-repeat: no-repeat;
}

/* advantages */

.advantages-title {
	margin-top: 70px;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -2.5px;
}

.advantages-text {
	margin-top: 0;
	margin-bottom: 90px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
}

.advantages-list {
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	text-align: center;
	list-style: none;
}

.advatages-text-container {
	min-width: 400px;
	position: relative;
}

.advantages-item {
	min-width: 400px;
}

.advantages-item-img {
	display: flex;
	width: 1200px;
}

.stone-bridge {
	order: -1;
}

.advantages-subtitle {
	margin-top: 102px;
	margin-bottom: 62px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

.advantages-item {
	position: relative;
}

.decorative-underline-container {
	position: relative;
}

.advantages-subtitle::after {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	top: 190px;
	left: 170px;
	background: rgba(255, 255, 255, 0.3);
}

.decorative-underline::after {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	top: 190px;
	left: 170px;
	background: rgba(0, 0, 0, 0.3);
}

.advantages-subtitle-text {
	margin-top: 0;
	margin-bottom: 102px;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.advantages-item:first-child .advantages-subtitle,
.advantages-item:last-child .advantages-subtitle {
	color: #ffffff;
}

.advantages-item:first-child .advantages-subtitle-text,
.advantages-item:last-child .advantages-subtitle-text {
	color: #ffffff;
}

.advantages-item:nth-child(3) {
	background-color: rgba(131, 179, 211, 0.2);
}


/* features */

.features-title {
	margin-top: 64px;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1.5px;
}

.features-text {
	margin-top: 0;
	margin-bottom: 64px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.features-subtitle {
	margin-top: 183px;
	margin-bottom: 30px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.features-subtitle-text {
	margin-top: 0;
	margin-bottom: 81px;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.features-list {
	padding: 0;

	display: flex;
	justify-content: space-between;
	list-style: none;
}

.features-item {
	width: 400px;
	background-color: #ffffff;
}

.features-house {
	position: relative;
}

.features-house-image::before {
	position: absolute;
	top: 81px;
	left: 162px;

	content: "";
	background-image: url("../images/vector/features-1.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 75px;
	height: 72px;
}

.features-food {
	position: relative;
}

.features-food-image::before {
	position: absolute;

	top: 81px;
	left: 162px;

	content: "";
	background-image: url("../images/vector/features-2.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 74px;
	height: 70px;
}

.features-souvenirs {
	position: relative;
}

.features-souvenirs-image::before {
	position: absolute;

	top: 80px;
	left: 168px;

	content: "";
	background-image: url("../images/vector/features-3.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 64px;
	height: 76px;
}

.baby-blue {
	background-color: rgba(131, 179, 211, 0.12);
}

.sky-blue {
	background-color: #82b3d3;
}

/* redirect */

.redirect {
	text-align: center;
}

.redirect-title {
	margin-top: 96px;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -1.5px;
}

.redirect-text {
	margin-top: 0;
	margin-bottom: 54px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;


	color: #333333;
}

.redirect .button {
	margin-top: 0;
	margin-bottom: 96px;
	padding: 8px 50px;

	display: inline-block;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -1.5px;

	color: #ffffff;
}


/* subscription */

.subscription {
	
	background-color: #ffffff;
	color: #000000;
}

.subscription-main {
	background-image: url("../images/subscribe-background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	background-color: #000000;
	color: #ffffff;
}			

.subscription-title {
	margin: 0;
	padding-top: 96px;
	padding-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.subscription-text {
	margin-top: 0;
	margin-bottom: 54px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
}

.subscription-form {
	display: flex;
	justify-content: center;
	padding-bottom: 104px;

	text-align: center;
}

.subscription-form .button {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	border: none;
	border-radius: 0 4px 4px 0;
	min-width: 232px;
	min-height: 52px;
	background-color: #82b3d3;
}


.subscription-form input:not(:placeholder-shown) {
	background: #f2f2f2;
	color: #000000;
}

.subscription-form button:hover {
	background: #68a2ca;
}

.subscription-form button:focus {
	outline: 3px solid #000000;
	border-radius: 4px;
}

.subscription-form button:active {
	color: rgba(255, 255, 255, 0.3);
	background: #82b3d3;
}

.subscription-form input[type="email"] {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	
	width: 452px;
	height: 52px;
	border: none;
	padding: 0 20px;
	border-radius: 4px 0 0 4px;
	box-sizing: border-box;
	
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 14px;

	background-color: #ffffff;
	
	color: #000000;
}

.catalog-subscription-form input[type="email"] {
	background-color: #f2f2f2;
	opacity: 0.6;
}

.subscription-form input:placeholder-shown {
	color: rgba(0, 0, 0, 0.6);
	background-color: #f2f2f2;
}

.subscription-form input:not(:placeholder-shown) {
	color: #000000;
	background-color: #f2f2f2;
}

.subscription-form input:hover {
	background-color: #e6e6e6;
}

.subscription-form input:disabled {
	background-color: #e6e6e6;
}

/* footer */

.footer-socials {
	padding-top: 40px;
	padding-bottom: 30px;

	display: flex;
	align-items: center;
}

.footer-flex-container {
	margin-left: 70px;
	margin-right: auto;

	width: 160px;
}

.footer-socials-list {
	margin: 0;
	padding: 0;


	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.footer-socials-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 40px;
}

.footer-number-container {
	max-width: 720px;
}

.footer-academy-container {
	margin-left: auto;
	margin-right: 70px;

	max-width: 115px;
}

.footer-phone-number {
	margin-right: 20px;

	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	color: #000000;
}

.footer-phone-number:hover {
	color: #756157;
}

.footer-phone-number:focus {
	color: #756157;
}

.footer-phone-number:active {
	color: rgba(117, 97, 87, 0.3);
}

.footer-socials-link {
	display: block;
	text-decoration: none;

	color: #83b3d3;
}

.footer-socials-link:hover {
	color: #68a2ca;
}

.footer-socials-link:focus {
	color: #68a2ca;
}

.footer-socials-link:active {
	color: rgba(104, 162, 202, 0.3);
}

.academy-link {
	color: #000000;
}

.academy-link:hover {
	color: #756157;
}

.academy-link:focus {
	color: #756157;
}

.academy-link:active {
	color: rgba(117, 97, 87, 0.3);
}

/* catalog filter */

.filter-background-image {
	background-image: url("../images/filter-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	background-color: #000000;
}

.inner-header-title {
	margin: 0;
	margin-bottom: 8px;
	padding-top: 40px;
	padding-left: 70px;

	font-size: 60px;
	line-height: 78px;
	font-weight: 700;
	letter-spacing: -1.5px;

	color: #ffffff;
}

.breadcrumbs {
	position: relative;
	margin: 0;
	margin-bottom: 40px;
	margin-left: 70px;
	padding: 0;
	
	display: flex;
	width: 114px;
	list-style: none;
}

.breadcrumbs-item {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	max-width: 74px;
	min-height: 21px;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;

	color: #ffffff;
}


.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
	margin-right: 28px;
	display: block;
	width: 12px;
	height: 12px;
}

.breadcrumbs .breadcrumbs-item:nth-child(1) .breadcrumbs-link {
	background-image: url("../images/vector/breadcrumbs-home.svg");
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: center;
}


.breadcrumbs-home::after {
	position: absolute;
	content: "";
	width: 6px;
	height: 12px;
	left: 22px;
	background-image: url("../images/vector/breadcrumbs-arrow.svg");
	background-size: 6px 12px;
	background-position: center;
}

.catalog-filter {
	margin-right: 70px;
	margin-left: 70px;
	padding-bottom: 70px;
}

.catalog-filter-title {
	margin-bottom: 32px;
	padding: 0;

	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-transform: capitalize;

	color: #ffffff;
}

.filter-flex-container {
	display: flex;
}

.catalog-filter-group {
	margin: 0;
	padding: 0;
	border: none;
}

.catalog-filter-group:nth-child(1) {
		margin-right: 60px;
}

.catalog-filter-list {
	margin: 0;
	padding: 0;

	max-width: 150px;
	list-style: none;
}


.catalog-filter h2 {
	color: #ffffff;
}

.catalog-filter-item {
	width: 154px;
}

.catalog-filter-item:not(:last-child) {
	padding-bottom: 16px;
}

.catalog-filter-item:hover {

}

.catalog-slider-title {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;

	margin-bottom: 30px;
	color: #ffffff;
}

.catalog-wrapper-inputs {
	margin-bottom: 36px;
	display: flex;
}

.catalog-range-slider {
	margin-left: 140px;
	padding: 0;
	border: none;
}

.range-scale {
	position: relative;
	width: 288px;
	height: 4px;
	margin-top: 44px;
	background-color: #ffffff;
}

.range-bar {
	position: absolute;
	height: 4px;
	background-color: rgba(0, 0, 0, 0.3);
}

.range-toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.range-toggle:hover {
	background-color: #82b3d3;
}

.range-toggle:focus,
.range-toggle:active {
	outline: 2px solid #000000;
}

.range-toggle:disabled {
	background-color: #e6e6e6;
	cursor: auto;
}

.toggle-min {
	top: -8px;
	left: -220px;
}

.toggle-max {
	top: -8px;
	right: 62px;
}

.min-price-title,
.max-price-title {
	position: relative;
}

.min-price-title {
	margin-right: 2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input {
	-moz-appearance: textfield;
}


.range-input {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	box-sizing: border-box;
	border: none;
	padding: 0;
	padding-left: 12px;
	width: 143px;
	height: 48px;
}

.range-input:hover {
	color: rgba(0, 0, 0, 0.6);
	background: #e6e6e6;
}


.range-input:focus {
	color: #000000;
	outline: 3px solid #000000;
}

.min-price-title input {
	border-radius: 4px 0 0 4px;
	padding-right: 50px;
	padding-left: 20px;
}

.max-price-title input {
	border-radius: 0 4px 4px 0;
	padding-right: 50px;
	padding-left: 20px;
}

.min-price-text,
.max-price-text {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;

	padding-top: 12px;
	padding-bottom: 12px;
	position: absolute;
	right: 20px;
	color: rgba(0, 0, 0, 0.3);
}

.apply-reset-buttons {
	margin-top: 54px;
	margin-left: 60px;
	
	display: flex;
	flex-direction: column;
}

.apply-button,
.reset-button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;

	padding: 8px 48px;

	background-color: #82b3d3;
	border: none;
}

.reset-button {
	margin-top: 32px;
	background-color: transparent;
}

.apply-button:hover {
	background-color: #68a2ca;
} 

.apply-button:focus {
	outline: 3px solid #000000;
}

.apply-button:active {
	color: rgba(255, 255, 255, 0.3);
	background: #82b3d3;
}


.reset-button:hover {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.6);
}

.reset-button:active {
	color: rgba(255, 255, 255, 0.3);
}

.reset-button:disabled {
	color: rgba(255, 255, 255, 0.1);
	background-color: rgba(0, 0, 0, 0.0);
}

.control {
	position: relative;
	display: block;
	padding-left: 36px;
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;

	color: #ffffff;
}

.control-mark-1 {
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: #ffffff;
}

.control-mark-2 {
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark-1::after {
	position: absolute; 
	background-image: url("../images/vector/control-mark-1.svg");
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	width: 20px;
	height: 20px;
	content: "";
}

.control-input[type="radio"]:checked + .control-mark-2::after {
	position: absolute; 
	background-image: url("../images/vector/control-mark-2.svg");
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	width: 20px;
	height: 20px;
	content: "";
}

.control:hover,
.control-mark-1:hover, 
.control-mark-2:hover {
	opacity: 0.6;
}

.control:active,
.control-mark-1:active, 
.control-mark-2:active {
	opacity: 0.3;
}

.control-input:disabled ~ span {
	opacity: 0.1;
}

.control-input:focus + .control-mark-1 {
	outline: 3px solid #82b3d3;
}

.control-input:focus + .control-mark-2 {
	outline: 3px solid #82b3d3;
}

.control-input {
	margin: 0;
	margin-right: 16px;
	width: 20px;
	height: 20px;
}


.hotel-filter {
	margin-top: 50px;
	padding-right: 70px;
	padding-left: 70px;

	display: flex;
	width: 1060px;
	align-items: center;
}

.sorting {
	margin: 0;
}

.filter-flex-result {
	max-width: 500px;
}

.filter-flex-sorting {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 70px;
	width: 292px;
}

.filter-flex-buttons {
	max-width: 200px;	
}

.sorting-button-item .sorting-button {
	margin-right: 8px;
	display: block;
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	border: 2px solid #e5e5e5;
	background-color: #ffffff;
}

.sorting-button-item .sorting-current-button {
	border: 2px solid #e5e5e5;
}

.sorting-button-item:nth-child(3) .sorting-button {
	margin-right: 0;
}

.sorting-buttons-list {
	margin: 0;
	padding: 0;

	display: flex;
	max-width: 200px;
	list-style: none;
}

.sorting {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.sorting-buttons-list .sorting-button-item:nth-child(1) .sorting-button {
	background-image: url("../images/vector/sorting-button-1.svg");
	background-repeat: no-repeat;
	background-size: 16px 14px;
	background-position: center;
}

.sorting-buttons-list .sorting-button-item:nth-child(2) .sorting-button {
	background-image: url("../images/vector/sorting-button-2.svg");
	background-repeat: no-repeat;
	background-size: 16px 14px;
	background-position: center;
}

.sorting-buttons-list .sorting-button-item:nth-child(3) .sorting-button {
	background-image: url("../images/vector/sorting-button-3.svg");
	background-repeat: no-repeat;
	background-size: 16px 14px;
	background-position: center;
}

.sorting-button:hover {
	border: 2px solid #000000;
	border-radius: 4px;
}

.sorting-button:focus {
	border: 2px solid #68a2ca;
	border-radius: 4px;
}

.sorting-button:active {
	border: 2px solid #000000;
	border-radius: 4px;
}

.select-control {
	width: 100%;
	appearance: none;

	padding: 12px 20px;
	padding-right: 40px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	background-image: url("../images/vector/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: right 20px center;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;

	color: #333333;
	background-color: #ffffff;
}

.select-control:hover {
	border-color: #68a2ca;
}

.select-control:focus {
	border-color: #3f5e72;
	outline: none;
}

.select-control:disabled {
	border-color: rgba(0, 0, 0, 0.3);
}

/* card list */

.product-card-list {
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 80px;
	padding: 0;

	display: grid;
	grid-template-columns: 340px 340px 340px;
	gap: 20px;
	width: 1060px;
	list-style: none;
}

.product-card-item {
	display: grid;
	padding: 20px;
	gap: 16px 20px;
	grid-template-rows: 212px min-content min-content min-content min-content;
	grid-template-columns: 140px 140px;
	align-items: center;
	width: 300px;

	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

.product-card-image {
	grid-column: 1 / -1;
	object-fit: contain;
}

.product-card-title {
	margin: 0;
	grid-column: 1 / -1;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}

.product-card-text,
.product-card-price {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;

	color: #333333;
}

.product-card-price {
	text-align: right;
}

.product-card-text,
.product-card-link,
.product-rating-stars {
	grid-column: 1 / 2;
}

.product-card-link,
.favourites-link {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
}

.product-card-link:hover,
.product-card-link:focus {
	background: #615048;
}

.product-card-link:active {
	background: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.favourites-link {
	background-color: #82b3d3;
}

.favourites-link:hover,
.favourites-link:focus {
	background: #68a2ca;
}

.favourites-link:active {
	background: #82b3d3;
	color: rgba(255, 255, 255, 0.3);
}

.button-green {
	background-color: #7db54f;
}

.button-green:hover,
.button-green:focus {
	background-color: #6c9e42;
}

.button-green:active {
	background-color: #7db54f;
	color: rgba(255, 255, 255, 0.3);
}

.product-rating {
	padding: 10px 16px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	
	
	background-color: #f2f2f2;
	color: #333333;
}

.product-rating-stars {
	background-image: url("../images/vector/star.svg");
	background-repeat: repeat;
	height: 17px;
}

.four-stars {
	width: 92px;
}

.three-stars {
	width: 68px;	
}

.two-stars {
	width: 46px;
}

/* pagination */

.pagination-list {
	position: relative;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;

	display: flex;
	width: 1060px;
	list-style: none;
}

.pagination-list::before {
	content: "";
	position: absolute;
	top: -40px;
	border: 1px solid #e6e6e6;
	width: 1060px;
}

.pagination-item {
	min-width: 60px;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination-link {
	padding: 12px;

	display: block;
	box-sizing: border-box;
	min-width: 60px;
	min-height: 60px;
	border-radius: 4px;

	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #82b3d3;
	color: #ffffff;
}

.pagination-current {
	outline: none;
}

.pagination-states:hover,
.pagination-states:focus {
	outline: 1px solid #82b3d3;
	border-radius: 4px;
	background-color: #68a2ca;
}

.pagination-states:active {
	background-color: #82b3d3;
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.3);
}

.pagination-span {
	color: #000000;
	background-color: #ffffff;
}

.pagination-current {
	background-color: #f2f2f2;
	color: #000000;
}

/* Modal */

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
	display: none;
}

.modal {
	position: relative;
	margin: auto;
	background-color: #ffffff;
	padding-top: 64px;
	padding-left: 70px;
	border-radius: 30px;
}

.modal-form {
	display: flex;
	flex-direction: column;
}

.modal-fieldset {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: none;
}

.arrival-date-label,
.departure-date-label {
	position: relative;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 48px;
}

.arrival-date-text,
.departure-date-text {
	position: absolute;
	left: 157px;
	top: 52px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}

.arrival-date-text {
	color: #ff5757;
}

.arrival-date {
	margin-right: 18px;
}

.departure-date {
	margin-right: 9px;
}

.arrival-date-input,
.departure-date-input {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700px;

	width: 440px;
	height: 48px;
	box-sizing: border-box;
	padding: 12px 50px 12px 20px;
	border: none;
	border-radius: 4px;

	background-color: #f2f2f2;
}

.arrival-date-input:placeholder-shown,
.departure-date-input:placeholder-shown {
	color: #000000;
	opacity: 0.6;
	background-color: #f2f2f2;
}

.arrival-date-input:disabled,
.departure-date-input:disabled {
	color: rgba(0, 0, 0, 0.3);
	background-color: #e6e6e6;
	border: 2px solid rgba(0, 0, 0, 0.6);
}

.arrival-date-input:hover,
.departure-date-input:hover {
	background-color: #e6e6e6;
}

.arrival-date-label::after,
.departure-date-label::after {
	content: "";
	background-image: url("../images/vector/calendar.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 16px;
	height: 15px;
	position: absolute;
	top: 16px;
	right: 90px;
	opacity: 0.3;
}

.modal-people-counter {
	display: flex;
	margin: 0;
	padding: 0;
	border: none;
}

.adult-label,
.children-label {
	display: flex;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.adult-label {
	margin-right: 36px;
}

.children-label {
	margin-left: 88px;
}

.minus-button,
.plus-button {
	position: relative;
	width: 40px;
	height: 48px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: #f2f2f2;
}

.minus-button {
	border-radius: 4px 0 0 4px;
}

.plus-button {
	border-radius: 0 4px 4px 0;
}

.minus-icon {
	position: absolute;
	top: 23px;
	left: 13px;
	display: block;
	width: 14px;
	height: 2px;
	margin: 0;
	background-image: url("../images/vector/minus.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px 0 0 4px;
	opacity: 0.3;
}

.plus-icon {
	position: absolute;
	top: 17px;
	left: 13px;
	display: block;
	width: 14px;
	height: 14px;
	background-image: url("../images/vector/plus.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0 4px 4px 0;
	opacity: 0.3;
}

.minus-button::after {
	content: "";
	position: absolute;
	top: 23px;
	left: 13px;
	display: block;
	width: 14px;
	height: 2px;
	margin: 0;
	background-image: url("../images/vector/minus.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px 0 0 4px;
	opacity: 0.3;
}

.plus-button::after {
	content: "";
	position: absolute;
	top: 17px;
	left: 13px;
	display: block;
	width: 14px;
	height: 14px;
	background-image: url("../images/vector/plus.svg");
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 0 4px 4px 0;
	opacity: 0.3;
}

.minus-button:hover::after,
.plus-button:hover::after {
	opacity: 1;
}

.minus-button:active::after,
.plus-button:active::after {
	opacity: 0.3;
}

.counter-input {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	width: 31px;
	height: 48px;
	border: none;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	text-align: center;
}

.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-auth {
	width: 717px;
	box-sizing: border-box;
}

.modal-close-button {
	position: absolute;
	padding: 0;
	top: 64px;
	right: 52px;
	width: 52px;
	height: 52px;
	background-color: #f2f2f2;
	border-radius: 50%;
	border: none;
	background-image: url("../images/vector/close.svg");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.modal-close-button:hover {
	background-color: #e6e6e6;
}

.modal-close-button:active {
	color: rgba(255, 255, 255, 0.6);
}

.modal-find-button {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	width: 577px;
	height: 60px;
	margin: 0;
	margin-top: 48px;
	margin-bottom: 68px;
	padding: 0;
	border: none;
	border-radius: 10px;
	text-transform: uppercase;

	background: #83b3d3;
	color: #ffffff;
}

.modal-find-button:hover,
.modal-find-button:focus {
	background: #68a2ca;
}

.modal-find-button:active {
	color: rgba(255, 255, 255, 0.3);
	background: #68a2ca;
}

.modal-title {
	margin: 0;
	margin-bottom: 64px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1.5px;
}

.tooltip {
	position: relative;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #83b3d3;
	align-self: center;
	margin-left: 10px;
	margin-right: 46px;
}

.tooltip-toggle {
	width: 26px;
	height: 26px;
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
	display: block;
}

.tooltip-icon {
	position: absolute;
	width: 2px;
	height: 12px;
	left: 12px;
	top: 7px;
	color: #ffffff;
	display: block;
}

.tooltip-toggle:hover .tooltip-icon {
	color: #f2f2f2;
}

.tooltip-text {
	position: absolute;
	box-sizing: border-box;
	width: 256px;
	left: 50%;
  transform: translateX(-50%);
  top: 41px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	border-radius: 10px;
	padding: 15px 18px 18px 22px;
	display: none;

	background-color: #333333;
	color: #ffffff;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/vector/tooltip-decoratin.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 9px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 100%;
  left: 0;
  right: 0;
}