@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;

	src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;

	src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT-Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;

	background-color: #ffffff;
	color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
	flex-grow: 1;
}

.button {
	padding: 8px;
	align-items: center;
	text-transform: uppercase;
	border-radius: 4px;

	background-color: #756157;
	color: #ffffff;
}

/* pages */

.container {
	margin: 0 auto;
	width: 1200px;
	
}

.header-flex-container {
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;	
}

.navigation-list {
	margin: 0;
	margin-left: 28px;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	width: 450px;
	align-items: center;
	list-style: none;
}

.header-logo-link {
	width: 140px;
	margin-left: 70px;
}

.navigation-user {
	margin-left: auto;
	max-width: 500px;
}

.navigation-link {
	padding: 20px 16px;
	display: block;
	flex-wrap: wrap;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;

	color: #000000;
}

.navigation-user .navigation-link {
	min-width: 44px;
	min-height: 22px;
}

.navigation-item .button {
	padding: 8px 34px;
	text-transform: uppercase;

	color: #ffffff;
}

.hero {
	background-image: url("../images/hero-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: 51px;
	padding-bottom: 81px;

	background-color: #000000;
	color: #ffffff;
}

.hero-text-image {
	margin: 0 auto;
	display: block;
	
}

/* advantages */

.advantages-title {
	margin-top: 70px;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.advantages-text {
	margin-top: 0;
	margin-bottom: 90px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
}

.advantages-list {
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	text-align: center;
	list-style: none;
}

.advantages-item {
	width: 400px;
}

.advantages-item-img {
	display: flex;
	width: 1200px;
}

.stone-bridge {
	order: -1;
}

.advantages-subtitle {
	margin-top: 102px;
	margin-bottom: 62px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

.advantages-subtitle-text {
	margin-top: 0;
	margin-bottom: 102px;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.advantages-item:first-child .advantages-subtitle,
.advantages-item:last-child .advantages-subtitle {
	color: #ffffff;
}

.advantages-item:first-child .advantages-subtitle-text,
.advantages-item:last-child .advantages-subtitle-text {
	color: #ffffff;
}

.advantages-item:nth-child(3) {
	background-color: rgba(131, 179, 211, 0.2);
}


/* features */

.features-title {
	margin-top: 64px;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.features-text {
	margin-top: 0;
	margin-bottom: 64px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.features-subtitle {
	margin-top: 30px;
	margin-bottom: 30px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.features-subtitle-text {
	margin-top: 0;
	margin-bottom: 81px;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.features-list {
	padding: 0;

	display: flex;
	justify-content: space-between;
	list-style: none;
}

.features-item {
	width: 400px;
	background-color: #ffffff;
}

.baby-blue {
	background-color: rgba(131, 179, 211, 0.12);
}


.sky-blue {
	
	background-color: #82B3D3;
}

/* redirect */

.redirect {
	text-align: center;
}

.redirect-title {
	margin-top: 96px;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.redirect-text {
	margin-top: 0;
	margin-bottom: 54px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;


	color: #333333;
}

.redirect .button {
	margin-top: 0;
	margin-bottom: 96px;

	display: inline-block;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
}


/* subscription */

.subscription {
	
	background-color: #ffffff;
	color: #000000;
}

.subscription-main {
	background-image: url("../images/subscribe-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;

	background-color: #000000;
	color: #ffffff;
}			

.subscription-title {
	margin: 0;
	padding-top: 96px;
	padding-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.subscription-text {
	margin-top: 0;
	margin-bottom: 54px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
}

.subscription-form {
	padding-bottom: 104px;

	text-align: center;
}

/* footer */

.footer-socials {
	padding-top: 40px;
	padding-bottom: 30px;

	display: flex;
	align-items: center;
}

.footer-flex-container {
	margin-left: 70px;
	margin-right: auto;

	width: 160px;
}

.footer-socials-list {
	margin: 0;
	padding: 0;

	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.footer-socials-item {
	width: 48px;
	height: 40px;
}

.footer-number-container {
	max-width: 720px;
	
}

.footer-academy-container {
	margin-left: auto;
	margin-right: 70px;

	max-width: 115px;
}

.footer-phone-number {
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	color: #000000;
}


.footer-socials-link {
	text-decoration: none;

	color: #000000;
}

/* catalog filter */

.filter-background-image {
	background-image: url("../images/filter-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	background-color: #000000;
}

.inner-header-title {
	margin: 0;
	margin-bottom: 8px;
	padding-top: 30px;
	padding-left: 70px;

	font-size: 60px;
	line-height: 78px;
	font-weight: 700;

	color: #ffffff;
}

.breadcrumbs {
	margin: 0;
	margin-bottom: 40px;
	margin-left: 70px;
	padding: 0;

	display: flex;
	width: 114px;
	list-style: none;
}

.breadcrumbs-item {
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;

	color: #FFFFFF;;
}

.catalog-filter {
	margin-right: 70px;
	margin-left: 70px;
	padding-bottom: 70px;
}

.catalog-filter-title {
	margin-bottom: 32px;

	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-transform: capitalize;

	color: #ffffff;
}

.filter-flex-container {
	display: flex;
}

.catalog-filter-group {
	margin: 0;
	padding: 0;
	border: none;
}

.catalog-filter-group:nth-child(1) {
		margin-right: 70px;
}

.catalog-filter-list {
	margin: 0;
	padding: 0;

	max-width: 150px;
	list-style: none;
}


.catalog-filter h2 {
	color: #ffffff;
}

.control {
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;

	color: #ffffff;
}

.hotel-filter {
	margin-top: 50px;
	padding-right: 70px;
	padding-left: 70px;

	display: flex;
	width: 1060px;
	align-items: center;
}

.sorting {
	margin: 0;
}

.filter-flex-result {
	max-width: 500px;
}

.filter-flex-sorting {
	margin-left: 200px;
	max-width: 292px;
}

.filter-flex-buttons {
	margin-left: 182px;
	max-width: 200px;	
}

.sorting-button-item .sorting-button {
	margin-right: 8px;
	display: block;
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	
}

.sorting-button-item:nth-child(3) .sorting-button {
	margin-right: 0;
}

.sorting-buttons-list {
	margin: 0;
	padding: 0;

	display: flex;
	max-width: 48px;
	list-style: none;
}

.sorting {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.select-control {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;

	color: #333333;
}

/* card list */

.product-card-list {
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 80px;
	padding: 0;

	display: grid;
	grid-template-columns: 340px 340px 340px;
	gap: 20px;
	width: 1060px;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-between;
}

.product-card-item {
	display: grid;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	gap: 16px 20px;
	grid-template-rows:  212px min-content min-content min-content min-content;
	grid-template-columns:  140px 140px;
	align-items: center;
	width: 340px;
}

.product-card-image {
	grid-column: 1 / -1;
	object-fit: contain;
}



.product-card-title {
	margin: 0;
	grid-column: 1 / -1;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}

.product-card-text,
.product-card-price {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;

	color: #333333;
}

.product-card-text,
.product-card-link,
.product-rating-stars {
	grid-column: 1 / 2;
}

.product-card-link,
.favourites-link  {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-decoration: none;
}

.favourites-link {
	background-color: #82B3D3;
}

.button-green {
	background-color: #7DB54F;
}

.product-rating {
	padding: 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	align-items: center;
	text-transform: uppercase;
	border-radius: 4px;
	
	
	background-color: #F2F2F2;
	color: #333333;
}

/* pagination */

.pagination-list {
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;

	display: flex;
	width: 1060px;
	list-style: none;
}

.pagination-item {
	width: 60px;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination-link {
	padding: 12px 24px;

	display: block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	border-radius: 4px;

	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #82B3D3;
	color: #FFFFFF;
}

.pagination-span {
	color: #000000;
	background-color: #ffffff;
}

.pagination-current {
	background-color: #F2F2F2;
	color: #000000;
}

