@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;

	src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;

	src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
	height: 100%;
}

body {	
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT-Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;

	background: #F2F2F2;
	color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
	flex-grow: 1;
}

.button {
	padding: 8px;
	align-items: center;
	text-transform: uppercase;
	border-radius: 4px;

	background-color: #756157;
	color: #ffffff;
}

.button:hover {
	background-color: #615048;
}


.button-blue:hover {
	background-color: #68A2CA;
}

.button:active {
	background-color:	#756157;
}

.button-blue:active {
	background-color: #82B3D3;
}

.button:focus,
.button-blue:focus,
.button-green:focus {
	outline: 3px solid #83B3D3;
}

/* pages */

.container {
	margin: 0 auto;
	width: 1200px;
	background: #ffffff;
	
}

.header-flex-container {
	display: flex;
	justify-content: space-between;
}

.navigation {
	display: flex;	
}

.navigation-list {
	margin: 0;
	margin-left: 238px;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	width: 450px;
	align-items: center;
	list-style: none;
}

.header-logo-link {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 140px;
	margin-left: 70px;
}

.navigation-user {
	margin-left: auto;
	max-width: 500px;
	justify-content: flex-end;
}

.navigation-link {
	padding: 20px 16px;
	display: block;
	flex-wrap: wrap;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;

	color: #000000;
}

.navigation-link:hover {
	background-color: #615048;
}

.navigation-link:focus {
	border: 3px solid #83B3D3;
	border-radius: 4px;
	outline: none;
}

.navigation-link:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.navigation-user .navigation-item {

	min-width: 44px;
	min-height: 22px;
}

.navigation-item .button {
	padding: 8px 34px;
	text-transform: uppercase;

	color: #ffffff;
}

.navigation-button {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
}

.navigation-button:active {
	color: rgba(255, 255, 255, 0.3);
}

.navigation-user .navigation-item:nth-child(3)	{
	margin-left: 20px;
} 

.navigation-link-current {
	position: relative;
}

.navigation-link-current::after {
	position: absolute;
	content: "";
	height: 2px;
	right: 16px;
	left: 16px;
	bottom: 0px;
	background-color: #756257;

}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
	background-image: url("../images/vector/search.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
	background-image: url("../images/vector/heart.svg");
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
}

.hero {
	position: relative;
	background-image: url("../images/hero-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: 51px;
	padding-bottom: 81px;

	background-color: #000000;
	color: #ffffff;
}

.hero-text-image {
	margin: 0 auto;
	display: block;
}

.hero::after {
	position: absolute;
	content: "";
	bottom: 0;
	width: 1200px;
	height: 57px;
	background-image: url("../images/vector/hero-decorative-image.svg");
	background-position: center;
	background-repeat: no-repeat;
}

/* advantages */

.advantages-title {
	margin-top: 70px;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.advantages-text {
	margin-top: 0;
	margin-bottom: 90px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
}

.advantages-list {
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	text-align: center;
	list-style: none;
}

.advatages-text-container {
	min-width: 400px;
	position: 	relative;
}
.advantages-item {
	width: 400px;
}

.advantages-item-img {
	display: flex;
	width: 1200px;
}

.stone-bridge {
	order: -1;
}

.advantages-subtitle {
	margin-top: 102px;
	margin-bottom: 62px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

.advantages-item {
	position: relative;
}

.decorative-underline-container {
	position: relative;
}

.advantages-subtitle::after {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	top: 190px;
	left: 170px;
	background: rgba(255, 255, 255, 0.3);
}

.decorative-underline:after {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	top: 190px;
	left: 170px;
	background: rgba(0, 0, 0, 0.3);
}

.advantages-subtitle-text {
	margin-top: 0;
	margin-bottom: 102px;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.advantages-item:first-child .advantages-subtitle,
.advantages-item:last-child .advantages-subtitle {
	color: #ffffff;
}

.advantages-item:first-child .advantages-subtitle-text,
.advantages-item:last-child .advantages-subtitle-text {
	color: #ffffff;
}

.advantages-item:nth-child(3) {
	background-color: rgba(131, 179, 211, 0.2);
}


/* features */

.features-title {
	margin-top: 64px;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.features-text {
	margin-top: 0;
	margin-bottom: 64px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.features-subtitle {
	margin-top: 183px;
	margin-bottom: 30px;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.features-subtitle-text {
	margin-top: 0;
	margin-bottom: 81px;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;

	color: #333333;
}

.features-list {
	padding: 0;

	display: flex;
	justify-content: space-between;
	list-style: none;
}

.features-item {
	width: 400px;
	background-color: #ffffff;
}

.features-house {
	position: relative;
}

.features-house-image::before {
	position: absolute;
	top: 81px;
	left: 162px;

	content: "";
	background-image: url("../images/vector/features-1.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 75px;
	height: 72px;
}



.features-food	{
	position: relative;
}

.features-food-image::before {
	position: absolute;

	top: 81px;
	left: 162px;

	content: "";
	background-image: url("../images/vector/features-2.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 74px;
	height: 70px;
}

.features-souvenirs {
	position: relative;
}

.features-souvenirs-image::before {
	position: absolute;

	top: 80px;
	left: 168px;

	content: "";
	background-image: url("../images/vector/features-3.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 64px;
	height: 76px;
}



.baby-blue {
	background-color: rgba(131, 179, 211, 0.12);
}


.sky-blue {
	
	background-color: #82B3D3;
}

/* redirect */

.redirect {
	text-align: center;
}

.redirect-title {
	margin-top: 96px;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.redirect-text {
	margin-top: 0;
	margin-bottom: 54px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;


	color: #333333;
}

.redirect .button {
	margin-top: 0;
	margin-bottom: 96px;
	padding: 8px 50px;

	display: inline-block;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	color: #ffffff;
}


/* subscription */

.subscription {
	
	background-color: #ffffff;
	color: #000000;
}

.subscription-main {
	background-image: url("../images/subscribe-background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;

	background-color: #000000;
	color: #ffffff;
}			

.subscription-title {
	margin: 0;
	padding-top: 96px;
	padding-bottom: 20px;

	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.subscription-text {
	margin-top: 0;
	margin-bottom: 54px;

	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
}

.subscription-form {
	display: flex;
	justify-content: center;
	padding-bottom: 104px;

	text-align: center;
}

.subscription-form .button {
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	border: none;
	border-radius: 0 4px 4px 0;
	width: 232px;
	height: 52px;
	background-color: #82B3D3;
}

.subscription-form button:hover {
	background: #68A2CA;
}

.subscription-form button:focus {
	border: 3px solid #000000;
	outline: none;
	border-radius: 4px;
}

.subscription-form button:active {
	color: rgba(255, 255, 255, 0.3);
	background: #82B3D3;
}

.subscription-form input[type=email] {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	
	width: 452px;
	height: 52px;
	border: none;
	padding: 0;
	border-radius: 4px 0 0 4px;
	box-sizing: border-box;
	
	padding-left: 20px;
	padding-top: 14px;
	padding-bottom: 14px;

	background-color: #ffffff;
	
	color: #000000;
}

.catalog-subscription-form input[type=email]  {
	background-color: #F2F2F2;
	opacity: 0.6;
}

.subscription-form input:hover {
	background: #E6E6E6;
	color: rgba(0, 0, 0, 0.6);
}

.subscription-form input:focus {
	outline: none;
	border: 2px solid #000000;
	border-radius: 4px;
}

/* footer */

.footer-socials {
	padding-top: 40px;
	padding-bottom: 30px;

	display: flex;
	align-items: center;
}

.footer-flex-container {
	margin-left: 70px;
	margin-right: auto;

	width: 160px;
}

.footer-socials-list {
	margin: 0;
	padding: 0;


	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.footer-socials-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 40px;
}



.footer-number-container {
	max-width: 720px;
	
}

.footer-academy-container {
	margin-left: auto;
	margin-right: 70px;

	max-width: 115px;
}

.footer-phone-number {
	font-size: 40px;
	line-height: 40px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	color: #000000;
}

.footer-phone-number:hover {
	color: #756157;
}

.footer-phone-number:focus {
	color: #756157;
}

.footer-phone-number:active {
	color: rgba(117, 97, 87, 0.3);
}

.footer-socials-link {
	display: block;
	text-decoration: none;

	color: #83B3D3;
}

.footer-socials-link:hover {
	color: #68A2CA;
}

.footer-socials-link:focus {
	color: #68A2CA;
}

.footer-socials-link:active {
	color: rgba(104, 162, 202, 0.3);
}

.academy-link {
	color: #000000;
}

.academy-link:hover {
	color: #756157;
}

.academy-link:focus {
	color: #756157;
}

.academy-link:active {
	color: rgba(117, 97, 87, 0.3);
}

/* catalog filter */

.filter-background-image {
	background-image: url("../images/filter-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	background-color: #000000;
}

.inner-header-title {
	margin: 0;
	margin-bottom: 8px;
	padding-top: 30px;
	padding-left: 70px;

	font-size: 60px;
	line-height: 78px;
	font-weight: 700;

	color: #ffffff;
}

.breadcrumbs {
	position: relative;
	margin: 0;
	margin-bottom: 40px;
	margin-left: 70px;
	padding: 0;
	
	display: flex;
	width: 114px;
	list-style: none;
}

.breadcrumbs-item {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	max-width: 74px;
	min-height: 21px;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;

	color: #FFFFFF;
}


.breadcrumbs-item:nth-child(1) .breadcrumbs-link {
	margin-right: 28px;
	display: block;
	width: 12px;
	height: 12px;
}

.breadcrumbs .breadcrumbs-item:nth-child(1) .breadcrumbs-link {
	background-image: url("../images/vector/breadcrumbs-home.svg");
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: center;
}


.breadcrumbs-home::after {
	position: absolute;
	content: "";
	width: 6px;
	height: 12px;
	left: 22px;
	background-image: url("../images/vector/breadcrumbs-arrow.svg");
	background-size: 6px 12px;
	background-position: center;
}

.catalog-filter {
	margin-right: 70px;
	margin-left: 70px;
	padding-bottom: 70px;
}

.catalog-filter-title {
	margin-bottom: 32px;

	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	text-transform: capitalize;

	color: #ffffff;
}

.filter-flex-container {
	display: flex;
}

.catalog-filter-group {
	margin: 0;
	padding: 0;
	border: none;
}

.catalog-filter-group:nth-child(1) {
		margin-right: 70px;
}

.catalog-filter-list {
	margin: 0;
	padding: 0;

	max-width: 150px;
	list-style: none;
}


.catalog-filter h2 {
	color: #ffffff;
}

.catalog-filter-item {
	padding-bottom: 16px;
	width: 154px;
}

.catalog-filter-item:hover {

}

.control {
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;

	color: #ffffff;
}

.control:hover {
	color: rgba(255, 255, 255, 0.6);
}

.control:active {
	color: rgba(255, 255, 255, 0.1);
}

.control-input {
	margin: 0;
	margin-right: 16px;
	width: 20px;
	height: 20px;
}

.hotel-filter {
	margin-top: 50px;
	padding-right: 70px;
	padding-left: 70px;

	display: flex;
	width: 1060px;
	align-items: center;
}

.sorting {
	margin: 0;
}

.filter-flex-result {
	max-width: 500px;
}

.filter-flex-sorting {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 70px;
	width: 292px;
}

.filter-flex-buttons {
	max-width: 200px;	
}

.sorting-button-item .sorting-button {
	margin-right: 8px;
	display: block;
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	border: 2px solid #E5E5E5;
	background-color: #ffffff;
}

.sorting-button-item .sorting-current-button {
	border: 2px solid #000000;
}

.sorting-button-item:nth-child(3) .sorting-button {
	margin-right: 0;
}

.sorting-buttons-list {
	margin: 0;
	padding: 0;

	display: flex;
	max-width: 200px;
	list-style: none;
}

.sorting {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.sorting-buttons-list .sorting-button-item:nth-child(1) .sorting-button {
	background-image: url("../images/vector/sorting-button-1.svg");
	background-repeat: no-repeat;
	background-size: 16px 14px;
	background-position: center;
}

.sorting-buttons-list .sorting-button-item:nth-child(2) .sorting-button {
	background-image: url("../images/vector/sorting-button-2.svg");
	background-repeat: no-repeat;
	background-size: 16px 14px;
	background-position: center;
}

.sorting-buttons-list .sorting-button-item:nth-child(3) .sorting-button {
	background-image: url("../images/vector/sorting-button-3.svg");
	background-repeat: no-repeat;
	background-size: 16px 14px;
	background-position: center;
}

.sorting-button:hover {
	border: 2px solid #000000;
	border-radius: 4px;
}

.sorting-button:focus {
	border: 2px solid #68A2CA;
	border-radius: 4px;
}

.sorting-button:active {
	border: 2px solid #000000;
	border-radius: 4px;
}

.select-control {
	width: 100%;
	appearance: none;

	padding: 12px 20px;
	padding-right: 40px;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	background-image: url("../images/vector/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: right 20px center;

	font-size: 18px;
	line-height: 21px;
	font-weight: 400;

	color: #333333;
}

.select-control:hover {
	border-color: #68A2CA;
}

.select-control:focus {
	border-color: #3F5E72;
	outline: none;
}

.select-control:disabled {
	border-color: rgba(0, 0, 0, 0.3);
}

/* card list */

.product-card-list {
	margin-top: 40px;
	margin-left: 70px;
	margin-bottom: 80px;
	padding: 0;

	display: grid;
	grid-template-columns: 340px 340px 340px;
	gap: 20px;
	width: 1060px;
	list-style: none;
}

.product-card-item {
	display: grid;
	padding: 20px;
	gap: 16px 20px;
	grid-template-rows:  212px min-content min-content min-content min-content;
	grid-template-columns:  140px 140px;
	align-items: center;
	width: 300px;

	border: 1px solid #E5E5E5;
	border-radius: 4px;
}

.product-card-image {
	grid-column: 1 / -1;
	object-fit: contain;
}



.product-card-title {
	margin: 0;
	grid-column: 1 / -1;

	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
}

.product-card-text,
.product-card-price {
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;

	color: #333333;
}

.product-card-price {
	text-align: right;
}

.product-card-text,
.product-card-link,
.product-rating-stars {
	grid-column: 1 / 2;
}

.product-card-link,
.favourites-link  {
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
}

.product-card-link:hover,
.product-card-link:focus {
	background: #615048;
}

.product-card-link:active {
	background: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.favourites-link {
	background-color: #82B3D3;
}

.favourites-link:hover,
.favourites-link:focus {
	background: #68A2CA;
}

.favourites-link:active {
	background: #82B3D3;
	color: rgba(255, 255, 255, 0.3);
}

.button-green {
	background-color: #7DB54F;
}

.button-green:hover,
.button-green:focus {
	background: #6C9E42;
}

.button-green:active {
	background: #7DB54F;
	color: rgba(255, 255, 255, 0.3);
}

.product-rating {
	padding: 10px 16px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	
	
	background-color: #F2F2F2;
	color: #333333;
}

.product-rating-stars {
	background-image: url("../images/vector/star.svg");
	background-repeat: repeat;
	height: 17px;
}

.four-stars {
	width: 92px;
}

.three-stars {
	width: 68px;	
}

.two-stars {
	width: 46px;
}

/* pagination */

.pagination-list {
	position: relative;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;

	display: flex;
	width: 1060px;
	list-style: none;
}

.pagination-list:before {
	content: "";
	position: absolute;
	top: -40px;
	border: 1px solid #E6E6E6;
	width: 1060px;
}

.pagination-item {
	width: 60px;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination-link {
	padding: 12px;

	display: block;
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	border-radius: 4px;

	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;

	background-color: #82B3D3;
	color: #FFFFFF;
}

.pagination-current {
	outline: none;
}

.pagination-states:hover,
.pagination-states:focus {
	border: 1px solid #82B3D3;
	border-radius: 4px;
	background: #68A2CA;
	outline: none;
}

.pagination-states:active {
	background: #82B3D3;
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.3);
}

.pagination-span {
	color: #000000;
	background-color: #ffffff;
}

.pagination-current {
	background-color: #F2F2F2;
	color: #000000;
}

